{% extends 'base.html' %}

{% block title %}Update{% endblock %}

{% block content %}
<h1>Editar un post</h1>
<form action="/posts/edit/{{ post['id'] }}" method="POST">
    <div>
        <label for="title">titulo</label>
        <input type="text" id="title" name="title" value="{{ post['title'] }}">
    </div>
    <div>
        <label for="content">contenido</label>
        <input type="text" id="content" name="content" value="{{ post['content'] }}">
    </div>
    <button type="submit">Editar</button>
</form>
{% endblock %}